@model  IEnumerable<S1.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h2>The Pizza Index</h2>

<p><strong>
    @Html.DisplayNameFor(m => m.NameOfPizza)
</strong></p>

@foreach(var item in Model)
{
    <p>
        @Html.DisplayFor(m => item.NameOfPizza)
    </p>
}

